gs-consuming-complete/src/main/resources/wsdl/countries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <xs:element name="param0">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Request">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Country" type="xs:string"/>
                    <xs:element name="ChannelId" type="xs:string"/>
                    <xs:element name="ChannelUserId" type="xs:string"/>
                    <xs:element name="TxnDate" type="xs:int"/>
                    <xs:element name="TxnTime" type="xs:int"/>
                    <xs:element name="TxnRefNum" type="xs:int"/>
                    <xs:element name="ServiceId" type="xs:string"/>
                    <xs:element name="ChannelType" type="xs:string"/>
                    <xs:element name="VersionNum" type="xs:byte"/>
                    <xs:element name="BrCode" type="xs:short"/>
                    <xs:element name="HostUserId" type="xs:string"/>
                    <xs:element name="MachineId" type="xs:string"/>
                    <xs:element name="MachineRef" type="xs:string"/>
                    <xs:element name="ModuleId" type="xs:string"/>
                    <xs:element name="BatchId" type="xs:string"/>
                    <xs:element name="ContinueOnError" type="xs:string"/>
                    <xs:element name="IsOnline" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataBlock">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MOBENQ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Data">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TelNum" type="xs:int"/>
                                <xs:element name="ServiceProvider" type="xs:string"/>
                                <xs:element name="ActionId" type="xs:string"/>
                                <xs:element name="ContractType" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
 <xs:element name="Reply">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Country" type="xs:string"/>
                    <xs:element name="ChannelId" type="xs:string"/>
                    <xs:element name="ChannelUserId" type="xs:string"/>
                    <xs:element name="TxnDate" type="xs:int"/>
                    <xs:element name="TxnTime" type="xs:int"/>
                    <xs:element name="TxnRefNum" type="xs:int"/>
                    <xs:element name="ServiceId" type="xs:string"/>
                    <xs:element name="ChannelType" type="xs:string"/>
                    <xs:element name="VersionNum" type="xs:byte"/>
                    <xs:element name="BrCode" type="xs:short"/>
                    <xs:element name="HostUserId" type="xs:string"/>
                    <xs:element name="MachineId" type="xs:string"/>
                    <xs:element name="MachineRef" type="xs:string"/>
                    <xs:element name="ModuleId" type="xs:string"/>
                    <xs:element name="BatchId" type="xs:string"/>
                    <xs:element name="ContinueOnError" type="xs:string"/>
                    <xs:element name="IsOnline" type="xs:string"/>
                    <xs:element name="HostStatus" type="xs:string"/>
                    <xs:element name="HostResponseCode" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataBlock">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MOBENQ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Data">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TelNum" type="xs:int"/>
                                <xs:element name="ServiceProvider" type="xs:string"/>
                                <xs:element name="ActionId" type="xs:string"/>
                                <xs:element name="ContractType" type="xs:string"/>
                                <xs:element name="Status" type="xs:string"/>
                                <xs:element name="RespStatus" type="xs:string"/>
                                <xs:element name="RespCode" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="CountriesPort">
  </wsdl:portType>
  <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="CountriesPortService">
    <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>